
@{
    ViewBag.Title = "Hesap Aktifleştirildi";
}


<link href="~/Content/css/login-register.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h3 class="text-center" style="color:cornflowerblue">YÖNLENDİRİLİYORSUNUZ</h3>
        </div>
        <div class="main-content">
            <div class="text-success">
                <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp; Hesap Aktifleştirildi.</h2>
                <hr />
                <p class="text-justify">
                    Hesabınız aktifleştirildi. Artık blog yazabilir ve beğeni yapabilirsiniz.
                </p>
            </div>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            @*<a class="underlineHover" href="#">Forgot Password?</a>*@
        </div>

    </div>
</div>

<script>
    $(function () {
        $("footer").parent().hide();
    });

    setTimeout(function () {
        window.location = "/Home/Index";
    }, 3000);
</script>

