<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet">
    

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-wrench"></span> Yönetim
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-star"></span> En Beğenilenler
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> Giriş
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> Üye Ol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> altanemre
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out"></span> Çıkış
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                   <h5>
                       <strong>Site Haritası</strong>
                   </h5>
                    <hr />
                    <p>
                        <a href="#">Hakkımızda</a><br />
                        <a href="#">En Beğenilenler</a><br />
                        <a href="#">Son Yazılar</a><br />
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>Blog Project</strong>
                    </h5>
                    <hr />
                    <p>
                        Tüm hakları saklıdır &copy;<br />
                        Blog Project @DateTime.Now.Year
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>E-Bülten Üyeliği</strong>
                    </h5>
                    <hr />
                   <div class="col-md-10 col-lg-offset-1">
                       <p>
                           Consectetur adipiscing elit fusce vel.
                       </p>
                       <div class="input-group">
                           <input type="text" class="form-control" placeholder="e-mail adresiniz" />
                           <span class="input-group-btn">
                               <button class="btn btn-primary" type="submit">
                                   <span class="glyphicon glyphicon-send"></span> Gönder
                               </button>
                           </span>
                       </div>
                   </div> 
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Content/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

</body>

</html>
